<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Set Meeting</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../js/setMeeting.js"></script>
</head>

<body class="jumbotron">

<div  align="center">
<h1> Set Meeting</h1>
Start Meeting:
<input type="datetime-local" id="stMeeting" onfocusout="checkStart()">
<br>
End Meeting  :
<input type="datetime-local" id="edMeeting" onfocusout="checkEnd()">
<br><br><br>

<input type="text" id="member" placeholder="Member">
<button id="add">Add Member</button>
<P>Members</p>
<br><br>
<button id="set" class="btn btn-success">Set Meeting</button>
</div>
<script>
    var user=localStorage.getItem("email");
    if(user!=null){
    alert("sign in as "+user);
    }
    else
    {
    location.replace("http://localhost:8081/");
    }
</script>
</body>
</html>