<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>
        Index
    </title>
    <body>

<div class="jumbotron">
<h1> MEETING SETUP </h1>
</div>
<div th:switch="${users}" >
    <div th:case="null">
<p class="center">
         <button style="height:40px;width:70px" onclick="window.location.href = '/register';">Register</button>
        <button style="height:40px;width:70px" onclick="window.location.href = '/signin';">Log in</button>
        </p>

    </div>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>First Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td th:text="${user.address}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</head>
</html>