<!DOCTYPE html>
<html xmlns:th="http ://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Login Form</h1>
<form action="#" th:action="@{/signin}" th:object="${LoginCredential}" method="post">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" autofocus="autofocus"/>

    <label for="password">Password</label>
    <input type="password" id="password" name="password"/>
    <input type="submit" value="Login"/>
</form>
</body>
</html>